@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

h1 {
    font-family: lobster;
    text-align: center;
    color: goldenrod;
    margin-top: 100px;
    font-size: 50px;
}

h2 {
    font-family: lobster;
    text-align: center;
    color: darkkhaki;
    font-size: 45px;
    margin-top: 100px;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thick;
}

body {
    background: purple;
}

.navbar {
    display: flex;
    top: 0;
    position: sticky;
}

button {
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    font-size: 23px;
    background: linear-gradient(90deg, rgba(80,0,27,1) 0%, rgba(255,215,0,1) 0%, rgba(192,192,192,1) 100%);
    background: indigo!important;
    color: orange!important;
}

#homeBtn {
    width: 75px;
    height: 50px;
    padding: 10px;
    margin-right: 20px;
    text-align: center;
    background: darkgoldenrod;
    border: none;
    border-radius: 5%;

}

#homeBtn:hover {
    transform: scale(110%);
}

#aboutBtn {
    width: 75px;
    height: 50px;
    padding: 10px;
    text-align: center;
    background: darkgoldenrod;
    border: none;
    border-radius: 5%;
}

#aboutBtn:hover {
    transform: scale(110%);
}

#workBtn {
    width: 150px;
    height: 75px;
    padding: 10px;
    text-align: center;
    background: darkgoldenrod;
    border: none;
    border-radius: 5%;
    margin-top: 400px;
    margin-left: 875px;
}

#workBtn:hover {
    transform: scale(110%);
}

.arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin-left: 45px;
    margin-top: 10px;
    border-top: 20px solid black;
}

#work {
    margin-bottom: 800px;
}

#github {
    position: absolute;
    color: white;
    margin-left: 820px;
    margin-top: -750px;
}

#pokedex {
    position: absolute;
    margin-left: 820px;
    margin-top: -730px;
}

#musicBtn {
    position: absolute;
    margin-top: -700px;
    margin-left: 900px;
}

.contact {
    margin-left: 500px;
    font-family: oswald;
    color: gold;
    font-size: 20px;
}

h3 {
    display: flex;
    font-family: lobster;
    text-align: center;
    color: darkkhaki;
    font-size: 45px;
}

summary {
    text-align:justify;
    font-family: oswald;
    color: gold;
    font-size: 20px;
}

.aboutMe {

    margin-left: 500px;
}

#submitBtn:hover {
    transform: scale(110%);
}

.skills {
    display: flex;
    margin: 0px 0px 100px 500px;
}

img {
    width: auto;
    height: 100px;
    padding: 20px;
}

#skills {
    margin: 25px 0px 25px 500px;
}

#ik {
    position: absolute;
    width: 150px;
    height: auto;
    margin-left: 250px;
    margin-top: 50px;
}

.visitors {
    position: absolute;
    color: white;
    font-family: oswald;
    font-size: 20px;
}

a {
    color: white;
   
}